<p class="mb-3">These are tasks for all datapod sites.</p>
<section class="text-gray-300 flex flex-col md:flex-row gap-6">
	<section>
		<h2 class="text-yellow-200 text-2xl mb-2">Open Tasks</h2>
		@for (task of openTasks; track task.dpodId) {
		<div class="flex gap-2">
			<div class="w-[1rem]">
				<i
					class="fa fa-square-o text-red-300"
					aria-hidden="true"
					*ngIf="task.status === 'todo'"
				></i>
				<i
					class="fa fa-check-square-o text-green-500"
					aria-hidden="true"
					*ngIf="task.status === 'finished'"
				></i>
			</div>
			<div
				[ngStyle]="{
					color: task.status === 'todo' ? '#e8c1be' : '#64ed6a',
					fontStyle: task.status === 'todo' ? 'normal' : 'italic'
				}"
			>
				{{ task.rank }} - {{ task.project }} - {{ task.title }}
			</div>
		</div>
		}
	</section>
	<section>
		<h2 class="text-yellow-200 text-2xl mb-2">Completed Tasks</h2>
		@for (task of completedTasks; track task.dpodId) {
		<div class="flex gap-2">
			<div class="w-[1rem]">
				<i
					class="fa fa-square-o text-red-300"
					aria-hidden="true"
					*ngIf="task.status === 'todo'"
				></i>
				<i
					class="fa fa-check-square-o text-green-500"
					aria-hidden="true"
					*ngIf="task.status === 'finished'"
				></i>
			</div>
			<div
				[ngStyle]="{
					color: task.status === 'todo' ? '#e8c1be' : '#64ed6a',
					fontStyle: task.status === 'todo' ? 'normal' : 'italic'
				}"
			>
				{{ task.rank }} - {{ task.project }} - {{ task.title }}
			</div>
		</div>
		}
	</section>
</section>
