<nav class="bg-gray-800 mt-3 px-3 py-2 mb-3">
	<ul class="flex gap-3 text-gray-400" routerLinkActive="active">
		<li class="">
			<a class="" routerLink="/home" routerLinkActive="active-link"
				>Home</a
			>
		</li>
		<li class="">
			<a
				class="nav-link"
				routerLink="/tasks"
				routerLinkActive="active-link"
				>Tasks</a
			>
		</li>
		<li class="">
			<a
				class="nav-link"
				routerLink="/about"
				routerLinkActive="active-link"
				>About</a
			>
		</li>
	</ul>
</nav>

<router-outlet></router-outlet>
