<section class="text-gray-200">
	<h2 class="text-[1.6rem] text-yellow-300">Project Datapod</h2>
	<p class="pb-4 w-[40rem]">A Datapod is a framework that can dynamically generate its own code files, has a self-contained data source, and makes working
		with data easy and flexible. I develop many Datapods in numerous technologies as a way to explore and learn various computer languages and frameworks. For more info, see my <a href="https://www.youtube.com/watch?v=31ANUdLCAs8" target="_blank">Datapod intro video</a>.</p>
	<img src="assets/images/birds.jpg" />
	<h3 class="text-lg pt-6 text-yellow-300">CLI/JSON+Frontend Datapods</h3>
	<ul class="pt-3 list-disc ml-4">
		<li><b>TypeScript-React Datapod:</b> one-stack
			<a href="https://github.com/edwardtanguay/datapod-for-react-typescript-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a TypeScript file that parses a text file.
		</li>
		<li><b>Go-React Datapod:</b> one-stack
			<a href="https://github.com/edwardtanguay/datapod-for-react-go-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a Go script that parses a text file.
			<ul class="list-disc ml-6">
				<li>Spawning project: <b>Comprehensible Output</b>&nbsp;
					<a href="https://github.com/edwardtanguay/comprehensible-output"
					   target="_blank"
					   class="underline">repo</a>&nbsp;
					<a href="https://comprehensible-output.vercel.app"
					   target="_blank"
					   class="underline">live</a>
					(language proficiency app)
				</li>
			</ul>
		</li>
		<li><b>Go-SvelteKit Datapod:</b> (todo)
			<ul class="list-disc ml-6">
				<li>Spawning project: <b>Tech-Language Learning</b>&nbsp;
					<a href="https://github.com/edwardtanguay/techlanglearn003"
					   target="_blank"
					   class="underline">repo</a>&nbsp;
					(a site that tracks progress, notes and vocabulary I recorded while taking tech tutorials in various langauges, e.g. French, Spanish, German, English)
				</li>
			</ul>
		</li>
		<li><b>Python-React Datapod:</b> one-stack
			<a href="https://github.com/edwardtanguay/datapod-for-react-python-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a Python script that parses a text file.
		</li>
		<li><b>C#-React Datapod:</b> one-stack
			<a href="https://github.com/edwardtanguay/datapod-for-react-csharp-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a C# script that parses a text file.
		</li>
		<li><b>PHP-React Datapod:</b> one-stack
			<a href="https://github.com/edwardtanguay/datapod-for-react-php-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a PHP script file that parses a text file.
		</li>
		<li><b>Ruby-React Datapod:</b> one-stack
			<a href="https://github.com/edwardtanguay/datapod-for-react-ruby-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a Ruby script that parses a text file.
		</li>
		<li><b>Elixir-React Datapod:</b> one-stack
			<a href="https://github.com/edwardtanguay/datapod-for-react-elixir-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a Elixir script that parses a text file.
		</li>
		<li><b>Bash-React Datapod:</b> one-stack (Mac/Linux only)
			<a href="https://github.com/edwardtanguay/datapod-for-react-bash-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a bash script that parses a text file.
		</li>
		<li><b>Rust-React Datapod:</b> one-stack (Mac/Linux only)
			<a href="https://github.com/edwardtanguay/datapod-for-react-rust-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a Rust script that parses a text file.
		</li>
		<li><b>Kotlin-React Datapod:</b> one-stack (Mac/Linux only)
			<a href="https://github.com/edwardtanguay/datapod-for-react-kotlin-json"
			   target="_blank"
			   class="underline">repo</a> - This is a simple datapod template for a local site that displays data from a
			JSON file, which is created by a Kotlin script that parses a text file.
		</li>
	</ul>

	<h3 class="text-lg pt-6 text-yellow-300">Free-standing Datapods</h3>
	<ul class="pt-3 list-disc ml-4">
		<li><b>Datapod for Python:</b>&nbsp;
			<a href="https://github.com/edwardtanguay/datapod_for_python"
			   target="_blank"
			   class="underline">repo</a> - This is a datapod in Python for a local site without any frontend, use to
			create CLIs or libraries, e.g. for pip.
		</li>
		<li><b>qtools for Python:</b>&nbsp;
			<a href="https://github.com/edwardtanguay/qtools_for_python"
			   target="_blank"
			   class="underline">repo</a> - This will be the qtools module published to PyPI to be used by other project
		</li>
	</ul>

	<h3 class="text-lg pt-6 text-yellow-300">Other Datapods, unorganized</h3>
	<ul class="list-disc ml-4">
		<li>datapod for next.js one-stack:
			<a href="https://github.com/edwardtanguay/datapod-for-nextjs"
			   target="_blank"
			   class="underline">repo</a> - version 15, typescript/tailwind, hosting at vercel
		</li>

		<li>datapod for lern one-stack:
			<a href="https://github.com/edwardtanguay/vite-react-node-express-lowdb-json-fullstack"
			   target="_blank"
			   class="underline">repo</a>
		</li>
		<li>datapod for lern split-stack:
			<a href="https://github.com/edwardtanguay/datapod-for-lern-splitstack-frontend"
			   target="_blank"
			   class="underline">frontend repo</a> |
			<a href="https://github.com/edwardtanguay/datapod-for-lern-splitstack-backend"
			   target="_blank"
			   class="underline">backend repo</a>
		</li>
		<li>datapod for mern split-stack:
			<a href="https://github.com/edwardtanguay/datapod-for-mern-splitstack-frontend"
			   target="_blank"
			   class="underline">frontend repo</a> |
			<a href="https://github.com/edwardtanguay/datapod-for-mern-splitstack-backend"
			   target="_blank"
			   class="underline">backend repo</a>
		</li>
		<li>datapod for react-json one-stack
			<a href="https://github.com/edwardtanguay/datapod-for-react-json"
			   target="_blank"
			   class="underline">repo</a> - this is a datapod template that has zod validation of a json file set up
			with easy-peasy, but simply reads a json file. it's good to use as a base for datapods that will have a
			parsing language to convert e.g. text files to json with "npm run dp". for example, this repo was used to
			make the datapod-for-react-go-json and datapod-for-react-python-json datapods.
		</li>
	</ul>

	<h3 class="text-lg pt-6 text-yellow-300">Terminology</h3>
	<ul>
		<li><i>one-stack</i> = used as a local app, started with one "npm run dev" command, but can be published at
			Vercel as
			an online, read-only site</li>
		<li><i>split-stack</i> = used as an online website, frontend on one server (e.g. Vercel), backend on another
			server
			(e.g. Hetzner), locally you have to start both frontend and backend with "npm run dev"</li>
		<li><i>spawning project</i> = an app that uses a Datapod for a real purpose, features that are built into this
			app to accomplish useful tasks are then ported into the Datapod framework</li>
	</ul>

</section>