<section class="text-gray-200">
	<p>
		Welcome to Datapod Central. This is my central site which organizes all
		my work on the various Datapod frameworks that I am making in various
		technologies.
	</p>
	<p>
		Take a look at the various <a routerLink="/starters"
		   class="underline">starter sites, templates and Datapods</a> that I have created so far, and see my <a
		   routerLink="/tasks"
		   class="underline">task board</a> for my current development progress.
	</p>

	<h2 class="text-xl pt-6 text-yellow-300 pb-3">Datapod Project March 2025</h2>
	<p>In addition to the <a routerLink="/starters"
		   class="underline">starter sites</a>, I am starting new versions of Datapod projects in every combination of
		framework. So these are the most recent versions:</p>
	<ul class="pt-3 list-disc ml-4">
		<li><a href="https://github.com/edwardtanguay/datapod-for-nextjs"
			   target="_blank"
			   class="underline">Datapod for Next.js</a> - version 15, TypeScript/Tailwind, hosting at Vercel</li>
		<li>Datapod for LERN One-Stack:
			<a href="https://github.com/edwardtanguay/vite-react-node-express-lowdb-json-fullstack"
			   target="_blank"
			   class="underline">repo</a>
		</li>
		<li>Datapod for LERN Split-Stack:
			<a href="https://github.com/edwardtanguay/datapod-for-lern-splitstack-frontend"
			   target="_blank"
			   class="underline">frontend repo</a> |
			<a href="https://github.com/edwardtanguay/datapod-for-lern-splitstack-backend"
			   target="_blank"
			   class="underline">backend repo</a>
		</li>
		<li>Datapod for MERN Split-Stack:
			<a href="https://github.com/edwardtanguay/datapod-for-mern-splitstack-frontend"
			   target="_blank"
			   class="underline">frontend repo</a> |
			<a href="https://github.com/edwardtanguay/datapod-for-mern-splitstack-backend"
			   target="_blank"
			   class="underline">backend repo</a>
		</li>
		<li>Datapod for React with JSON data source
			<a href="https://github.com/edwardtanguay/datapod-for-react-json"
			   target="_blank"
			   class="underline">repo</a> - This is a datapod template that has Zod validation of a JSON file set up
			with easy-peasy, but simply reads a JSON file. It's good to use as a base for Datapods that will have a
			parsing language to convert e.g. text files to JSON with "npm run dp". For example, this repo was used to
			make the datapod-for-react-go-json and datapod-for-react-python-json datapods.
		</li>
	</ul>

</section>